/* http://paletton.com/#uid=50V0z0kllllaFw0g0qFqFg0w0aF */

page, body {
    background: #FFE2AA;
    color: #553800;
}

.app {
    margin: 0 auto;
}

header, footer {
    text-align: center;
    margin: 30px 0;
}

main {
    text-align: center;
}

.controls {
    margin: 40px 0 20px 0;
    position: relative;
}
.controls .btn {
    width: 100%;
    display: block;
    transition: all 200ms;
}
.controls .btn-default {
    color: #552100;
    background-color: #FFF;
    border-color: #D4936A;
}
.controls .btn-default:hover {
    color: #552100;
    background-color: #FFCBAA;
    border-color: #D4936A;
}
.controls .btn-default:focus {
    color: #552100;
    background-color: #D4936A;
    border-color: #AA6439;
}

.controls .turn-indicator {
    font-size: 22px;
    line-height: 46px;
    opacity: 0;
    transition: opacity 200ms;
}
.controls .turn-indicator.player-x {
    float: left;
}
.controls .turn-indicator.player-o {
    float: right;
}

.controls .turn-indicator.visible {
    opacity: 1;
}

.controls .turn-indicator.player-x .glyphicon {
    transform: rotate(45deg);
    top: 5px;
    font-size: 26px;
    color: #803E15;
}
.controls .turn-indicator.player-o .circle {
    border: 5px solid #803E15;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 3px;
    position: relative;
}

.board {
    position: relative;
}

.grid {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 500ms;
}

.game-over .grid {
    opacity: 0.5;
}

.grid .grid-row {
    clear: both;
    height: 33.33%;
    border-bottom: 2px solid #553800;
}
.grid .grid-row:last-child {
    border: none;
}

.grid .grid-cell {
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 5px;
    border-right: 2px solid #553800;
}
.grid .grid-cell:last-child {
    border-right: none;
}

.grid .cell {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    
    /* Glyphicons */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.game-playing .grid .cell.cell-empty {
    cursor: pointer;
    transition: background 200ms;
}
.game-playing .grid .cell.cell-empty:hover {
    background: #D4B06A;
}
.game-playing .grid .cell.cell-empty:active{
    background: #AA8339;
}

.grid .cell::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.grid .cell.cell-x::before {
    content: "\2b";
    line-height: 1;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
    color: #803E15;
}

.grid .cell.cell-o::before {
    content: "";
    border: 13px solid #803E15;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: opacity linear 0.3s;
}

.animate-show.ng-hide {
    opacity: 0;
}

.stripes .stripe {
    background: #553800;
    border-radius: 7px;
    position: absolute;
    z-index: 5;
}

.stripes .rows .stripe {
    left: 5%;
    right: 5%;
    
    top: 50%; /* middle stripe */
}
.stripes .rows .stripe:first-child {
    top: 16.66%;
}
.stripes .rows .stripe:last-child {
    top: 83.33%;
}

.stripes .columns .stripe {
    top: 5%;
    bottom: 5%;
    
    left: 50%; /* middle stripe */
}
.stripes .columns .stripe:first-child {
    left: 16.66%;
}
.stripes .columns .stripe:last-child {
    left: 83.33%;
}

.stripes .diagonals .stripe {
    height: 113.1%;
    left: 10%;
}
.stripes .diagonals .stripe:first-child {
    top: 10%;
    transform: rotate(-45deg);
    transform-origin: top;
}
.stripes .diagonals .stripe:last-child {
    bottom: 10%;
    transform: rotate(45deg);
    transform-origin: bottom;
}

/* Default sizes (for small screens)*/
.app {
    width: 95%;
}

.board {
    /* force to a square */
    width: 100%;
    padding-bottom: 100%;
}


.grid .cell.cell-x::before {
    height: 60px;
    font-size: 60px;
    margin: 0 0 4px 4px;
}

.grid .cell.cell-o::before {
    border-width: 13px;
    width: 60px;
    height: 60px;
}

.stripes .rows .stripe {
    height: 14px;
    margin-top: -7px;
}

.stripes .columns .stripe,
.stripes .diagonals .stripe {
    width: 14px;
    margin-left: -7px;
}

@media (min-width: 600px) {
    .app {
        width: 540px;
    }
    
    .grid .cell.cell-o::before {
        width: 100px;
        height: 100px;
        border-width: 22px;
    }
    .grid .cell.cell-x::before {
        font-size: 110px;
        height:110px;
        margin: 0 0 8px 8px;
    }
    
    .stripes .rows .stripe {
        height: 20px;
        margin-top: -10px;
    }
    
    .stripes .columns .stripe,
    .stripes .diagonals .stripe    {
        width: 20px;
        margin-left: -10px;
    }
    
    .controls .btn {
        display: inline-block;
        width: auto;
    }
    .controls .turn-indicator {
        float: none;
    }
    
    .controls .turn-indicator.player-x {
        position: absolute;
        left: 0;
        top: 0;
    }
    .controls .turn-indicator.player-o {
        position: absolute;
        right: 0;
        top: 0;
    }
}